<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

    <table class="table-fixed w-full">
      <thead>
        <tr class="bg-green-500 text-white">

          <th class="w-1/4 py-4 ...">Titulo</th>
          <th class="w-1/2 py-4 ...">Descripcion</th>
          <th class="w-28 py-4 ...">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each tasks}}
          <tr>

            <td class="p-3 align-top">{{title}}</td>
            <td class="p-3">{{description}}</td>
            <td class="p-3 flex justify-center items-center gap-2">
              <form action="/tasks/delete" method="POST" class="mb-0">
                <input type="hidden" value="{{id}}" name="id" />
                <button
                  class="bg-red-500 text-white px-4 py-2 rounded-md flex justify-center items-center"
                  type="submit"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </form>
              <a
                href="/tasks/edit/{{id}}"
                class="bg-green-500 text-white px-4 py-2 rounded-md flex justify-center items-center"
              >
                <i class="fas fa-pen"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>