<p class="text-center text-gray-800 text-3x1 mt-10 font-semibold">Bienvenido/a a mi To-Do List</p>

<div class="text-center w-full my-16">
  <a
    href="/tasks"
    class="font-semibold bg-green-500 text-xl text-white hover:bg-green-700 px-8 py-4 text-center rounded-md mx-auto"
  >Empecemos</a>
</div>