<div class="text-center mt-10">
  <!-- Mensaje de bienvenida general -->
  <p class="text-gray-800 text-2xl font-semibold">
    Hola,
    {{name}}.
  </p>
  <p class="text-gray-600 lg:w-1/2 sm:w-2/3 md:w-2/3 text-center mx-auto text-lg mt-4">
    Esta es tu lista de tareas (To-Do List). Aca podes agregar, editar, eliminar y gestionar tus tareas de manera
    sencilla y eficiente. Mantené un seguimiento de lo que tenes que hacer y organizá tu día de forma más productiva.
  </p>

  <!-- Botón para empezar -->
  <div class="w-full my-16">
    <a
      href="/tasks"
      class="font-semibold bg-green-500 text-xl text-white hover:bg-green-700 px-8 py-4 text-center rounded-md mx-auto"
    >
      Empecemos
    </a>
  </div>
</div>